/** tolgo per tutti i browser evenguali margini degli elementi */
/** "*" sta per tutti i tag */

@keyframes show {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #f6f6f6;
    font-family: sans-serif;
}

/** prendo il tag con id app */
#app {
    margin: 10px;
    animation:fadeIn 4s;
}

input[type=text] {
    padding: 7px;
    appearance: none;
    /** resettiamo il bordo che mette il browser */
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
}


input:focus {
    border: 1px solid rgb(0, 200, 255);
    box-shadow: 0px 0px 3px 4px rgb(0, 200, 255, 0.2);
}

button {
    appearance: none;
    outline: none;
    padding: 7px;
    border: 1px solid rgb(0, 200, 255);
    background-color: rgb(0, 200, 255);
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

button:hover {
    filter: brightness(90%);
}

button:active {
    filter: brightness(70%);
}

ul {
    /** rimuovo i pallini del ul */
    list-style: none;
}

li {
    border-bottom: 1px solid #cccccc;
    padding: 10px 0px;
    animation: show 1s;
}
/** il simbolo > serve per selezionare solod il figlio diretto */
li > div:first-child{
    display: flex; /* attiva la modalità flexbox */
    flex-direction: row; /* elementi distribuiti in riga */
    align-items: center;
    gap:10px; /* spazio tra elementi */
}

/** applico lo stile al tag che contiene la data scadenza */
.expireDate {
    font-size: 11px;
    margin-top: 10px;
    color: red;
}

.mdi-delete {
    color: red;
    margin-right: 10px;
}

.mdi-delete:hover,
.mdi-content-save:hover {
    filter: brightness(90%);
    cursor: pointer;
}

.mdi-delete:active,
.mdi-content-save:active {
    filter: brightness(70%);
    cursor: pointer;
}

.mdi-content-save {
    color: rgb(0, 200, 255);
    margin-right: 5px;
}

